

<!--
  Student Name: Sones
  File Name: home.html
  Date:08/28/2023
--> 

<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>I am Sorry, Earth</title>
    {% load static %}
<link rel="stylesheet" type="css" href="{% static 'static/styles.css' %}" />
    <meta charset="utf-8">
</head>

<body>
  <header>
    <h2> A response to Earth,</h2>
    <h3>I am a human pleb.</h3>
  </header>
  <nav>

  </nav>

<!-- Use the main area to add the main content to the webpage -->
  <main>
    <strong>Hello there, world!</strong>
    <div>
        <p class="message">Thank you for your concerns. The humankind on you is very sorry about spreading misinformation.</p>
    <h3>Unfortunately, the aliens recently have expedited the bad habits of lobbyists and big oil.</h3>
    <h2>help us Earth</h2>
    </div>
  </main>
  <footer>
    <p>&copy; Copyright 2023. All Rights Reserved.</p>
<p><a href = "mailto: hippie@humankind.org"></a></p> 
  </footer>

</body>
</html>
